<header>
  <a href="#">
    <img class="logotype" src="../assets/images/logo.png" alt="Little Italy Logotype" />
  </a>
</header>
<nav>
  <ul>
    <li><a class="active" href="#"><i class="las la-home"></i>Home</a></li>
    <li><a href="#"><i class="las la-pizza-slice"></i>Pizzas</a></li>
    <li><a href="#"><i class="las la-question-circle"></i>About</a></li>
    <li><a href="#"><i class="las la-phone-volume"></i>Contact</a></li>
    <li><a href="#"><i class="las la-plus"></i>Register</a></li>
    <li><a href="#"><i class="las la-user"></i>Login</a></li>
  </ul>
</nav>
<section>
  <article class="article1"></article>
</section>
<section>
  <h1>Lorem ipsum, dolor sit amet consectetur adipisicing.</h1>
  <article class="article2">
    <img src="../assets/images/pizza1_300x300.png" alt="Pizza with tomato, cheese and onion" />
    <img src="../assets/images/pizza2_300x300.png" alt="Pizza with cheese, lettuce and sardines" />
    <img src="../assets/images/pizza3_300x300.png" alt="Pizza with cheese and onion" />
  </article>
</section>
<section>
  <article class="article3">
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
      maiores iste impedit odit? Ad earum, corrupti quas quaerat ratione
      consequatur aut perferendis alias velit, totam, voluptatum quo maxime
      esse sed inventore vitae eos explicabo nostrum dignissimos unde
      molestias ducimus pariatur praesentium? Sint necessitatibus animi
      adipisci porro suscipit aperiam excepturi facilis cumque, officia
      nulla, corrupti ipsum eligendi laboriosam delectus vitae! Repudiandae.
    </p>
  </article>
</section>
<footer>© 2021 Little Italy Pizza, Inc.</footer>
